/*This is the start of the back to top button  */
.topButton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}
.topButton a{
    padding: 0px 15px;
    background-color: transparent;
    border: 2px solid #eedbff;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    box-shadow: magenta 2px 2px;

    
}
.topButton a:hover{
    background-color: darkmagenta;
}
.topButton a:active{
    background-color: cornflowerblue;
}

/* This is the end of the back to top button */