/* This is the start of footer  */
footer{
    width: 100%;
    height: auto;
    background:linear-gradient(0deg, rgba(252, 170, 252, 0.1), rgba(252, 170, 252, 0.1));
}
.footerBox{
    width: 30%;
    height: auto;
    float: left;
    margin:0px 10px ;
    text-align: center;
    /* border: 1px solid #000; */
}
.footerBox ul{
    list-style-type: none;
    margin-top: 0px;
    
}
.footerBox a{
    text-decoration: none;
}
.footerBox ul li{
    color: #000;
    
    font-weight: bolder;
    text-transform: uppercase;
    margin: 20px 20px;
}
.footerBox ul li:hover{
    color: darkmagenta;
}
.footerBox ul li:active{
    color:cornflowerblue;
}
.footerBox p{
    margin-top: 110px;
}
.socialMedia{
    margin-top: 100px;
}
.socialMedia i{
    margin: 0px 10px;
}
.socialMedia i{
    color: darkmagenta;
}
.socialMedia i:hover{
    color: #eedbff;
}
.socialMedia i:active{
    color:cornflowerblue;
}
/* This is the end of footer  */